# macOS
.DS_Store
.bak

# Build artifacts
_CodeSignature
HFJobs.app/Contents/*
HFJobs.app/
build/
*.zip

# Environment variables
.env

# Certificates and sensitive data
*.p12
*.cer
*.pem
*.key

# User-specific files
jobs.json